<% content_for(:title, @question.title ) %>

<div class="card mt-5 mb-5">
  <div class="card-header">
     <%= @question.title %>
     <div class="text-end">
      質問者: <%= @user.name %>
      </div>
  </div>
    
  <div class:"card-body">
    <div class="p-3">
      質問内容: </br>
      <%= markdown(@question.description) %>
    </div>
  </div>
</div>

<h4>回答する</h4>
<div class="card mb-5">
  <div class="card-body">
    <%= simple_form_for [@question, @answer] do |f| %>
      <%= f.input :name, placeholder: "匿名さん" %>
      <%= f.input :description, required: false, placeholder: "マークダウンが使用可能です"  %>
      <div class="text-end">
        <%= f.button :submit, '回答する', class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

<% @question.answers.each do |answer| %>
  <div class="card mt-3 mb-3">
    <div class="card-footer">
      回答者: <%= answer.name %></br>
      <%= markdown(answer.description) %>
    </div>
  </div>
<% end %>

<h2>関連するQiita記事</h2>
<ul>
  <% @question.qiita_articles.each do |qiita_article| %>
    <li>
      <%= link_to qiita_article[:title], qiita_article[:url], target: '_blank' %>
    </li>
  <% end %>
</ul>