<% content_for(:title, "スレッド一覧") %>

<div class="m-3 mt-5">
  <h2>スレッド一覧</h2>
  <div class="text-end">
    <%= link_to 'スレッドを作成する', new_admins_room_path, class: "btn btn-primary"%>
  </div>
  
  <% if @rooms.present? %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">スレッド名</th>
          <th scope="col">作成日時</th>
          <th scope="col"></th>
        </tr>
      </thead>
  　  <% @rooms.each do |room| %>
        <tbody>
          <tr>
            <td><%= room.name %></td>
            <td><%= l room.created_at, format: :short %></td>
            <td class="d-flex justify-content-evenly">
              <%= link_to edit_admins_room_path(room), class: "btn btn-success" do %>
                編集 <i class="fa-solid fa-pen-to-square"></i>
              <% end %>
              <%= button_to admins_room_path(room), data: { confirm: "本当に削除しますか?", turbo_confirm: "本当に削除しますか?" }, method: :delete, class: "btn btn-danger" do %>
                削除 <i class="fa-solid fa-trash-can"></i>
              <% end %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% else %>
    現在スレッドはありません
  <% end %>
</div>