<div class="d-flex flex-column p-3 text-white bg-secondary sidebar__content">
  <%= link_to "ðŸŒˆ ã€ç®¡ç†è€…ç”»é¢ã€‘ãƒ¡ãƒ¢ãƒˆãƒ¼ãƒ¼ã‚¯!", "#", class: "d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"%>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to admins_rooms_path, class: "nav-link fw-bold sidebar__link" do %>
        <i class="fa-brands fa-buromobelexperte"></i> ã‚¹ãƒ¬ãƒƒãƒ‰ä¸€è¦§
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to "ã‚¢ã‚«ã‚¦ãƒ³ãƒˆä¸€è¦§", admins_users_path, class: "nav-link fw-bold sidebar__link"%>
    </li>
  </ul>
  <hr>
  <div class="dropdown admin__sidebar-dropdown">
    
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <strong><%= current_admin.email %></strong>
    </a>
    
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li>
        <%= link_to edit_admin_registration_path, class:"dropdown-item" do %>
          <i class="fa-regular fa-user"></i> è¨­å®š
        <% end %>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= button_to destroy_admin_session_path, method: :delete, class:"dropdown-item" do %>
          <i class="fa-solid fa-right-from-bracket"></i> ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ
        <% end %>
      </li>
    </ul>
  </div>
</div>