<% content_for(:title, "メモ一覧") %>

<div class="m-3 mt-5">
  <h2>メモ一覧</h2>
  <div class="text-end">
    <%= link_to 'メモ新規追加', new_memo_path, class: "btn btn-primary"%>
  </div>
  
  <%= render "layouts/pagination", obj: @memos%>
  
  <% if @memos.present? %>
  　<% @memos.each do |memo| %>
  　<div class="card mr-5 ms-5">
      <div class="card-body">
  　    <%= link_to memo_path(memo), class: "memo_title" do %>
  　      <%= memo.title %>
  　      <div class="text-muted small text-truncate">
  　        <%= memo.description%>
  　      </div>
　     <% end %>
　     <div class="d-flex float-end">
    　    <%= link_to "編集", edit_memo_path(memo), class: "btn btn-success" %>
    　    <%= button_to "削除", memo_path(memo), data: { confirm: "本当に削除しますか?", turbo_confirm: "本当に削除しますか?" }, method: :delete, class: "btn btn-danger"%>
　     </div>
  　   </div>
　     <div class="text-end memo_time">
        <%= l memo.updated_at, format: :short %>
      </div>
  　</div>
    <% end %>
  <% else %>
    メモを追加しましょう！
  <% end %>
</div>

 <%= render "layouts/pagination", obj: @memos%>
