<div class="d-flex flex-column p-3 text-white bg-dark sidebar__content">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="ml-3 fs-4">ðŸŒˆãƒ¡ãƒ¢ãƒˆãƒ¼ãƒ¼ã‚¯!</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to "ãƒ¡ãƒ¢ä¸€è¦§", memos_path, class: "nav-link fw-bold sidebar__link"%>
    </li>
    <li>
      <%= link_to "ãƒ¡ãƒ¢æ–°è¦è¿½åŠ ", new_memo_path, class: "nav-link fw-bold sidebar__link"%>
    </li>
    <li>
      <%= link_to "è³ªå•æŽ²ç¤ºæ¿", questions_path, class: "nav-link fw-bold sidebar__link"%>
    </li>
    <li>
      <%= link_to "è‡ªåˆ†ã®è³ªå•", mypost_questions_path, class: "nav-link fw-bold sidebar__link"%>
    </li>
    <li>
      <%= link_to "è³ªå•ã™ã‚‹", new_question_path, class: "nav-link fw-bold sidebar__link"%>
    </li>
  </ul>
  <hr>
  <div class="dropdown">
    
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">

      <% if current_user.image? %>
        <%= image_tag current_user.image.url, size: '32x32', class: 'rounded-circle me-2' %>
      <% else %>
        <%= image_tag 'default.png', size: '32x32', class: 'rounded-circle me-2' %>
      <% end %>
      
      <strong><%= current_user.name %></strong>
    </a>
    
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li>
        <%= link_to 'ãƒ—ãƒ­ãƒ•ã‚£ãƒ¼ãƒ«', edit_user_registration_path, class:"dropdown-item"%>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <%= button_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', destroy_user_session_path, method: :delete, class:"dropdown-item"%>
      </li>
    </ul>
  </div>
</div>