<!DOCTYPE html>
<html>
  <head>
    <title>MemoTalk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'layouts/notification' %>
    <% if user_signed_in? %>
      <div class="row">
        <div class="col-3">
          <%= render "layouts/sidebar"%>
        </div>
         <div class="col-8">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
