<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title(yield(:title)) %></title>
    <!--
    ブラウザ上部に表示するタイトルアイコンの設定
    <link href="/assets/xxx.png" rel="icon" type="image/x-icon" />
    -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <!--session_flash_messageのパーシャル埋め込む-->
    <% flash.each do |message_type, message| %>
      <div><%= message %></div>
    <% end %>
    
    <% if user_signed_in? %>
      <div class="row">
        <div class="col-3">
          <%= render "layouts/sidebar"%>
        </div>
         <div class="col-8">
          <%= yield %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-3">
          <%= render "layouts/open_sidebar"%>
        </div>
         <div class="col-8">
          <%= yield %>
        </div>
      </div>
    <% end %>
  </body>
</html>
